__pycache__/
*.py[cod]
venv/
.env
.drone_secret
vpn_config.json
data/logs/
data/connection_config.json
*.log
  *.pyc
  *.log
  .drone_secret
  .env
  data/
  _bootstrap/*.egg-info/
  Find_landing/camera_detected.json
